@import "../common/color.styl"
@import "../common/header.styl"
@import "../common/footer.styl"
@import "./indexTemplate/carousel.styl"
@import "../../../common/style/normal.styl"
@import "../common/normal.styl"
@import "./indexTemplate/advert.styl"
@import "./indexTemplate/aboutUs.styl"
@import "./indexTemplate/products.styl"
#nprogress
  .bar
    background $mainColor
    