$mainColor = #359AF6
$success = #99CC32
$warning = #FBAE3D
$footerBlack = #131313
$black = #333
$blackO = #666
$blackOO = #999
$blackOOO = #ccc
$gray = #B4B4B4
$grayO = #d9d9d9
$grayOO = #e8e8e8
$grayOOO = #f2f2f2
$white = #fff
$whiteO = #ececec
$border=#E8E8E8
$whiteOO = #f7f7f7
$loadingBg = #EFF0F1