.aboutUs-container.container-fluid
  .row.aboutUs#aboutUs
    .col-sm-6.col-xs-12.aboutUs-img
      .title.visible-xs.padding-10
        | About Us
        span.title-line
      .ab-img-container.default-color
        //img#img-left(src='')
        .img-hold
    .discrible-container.col-sm-6.col-xs-12
      .title.hidden-xs.padding-10
        | About Us
        span.title-line
      .discrible
        .discrible-text
          p.text-loading
          p.text-loading
          p.text-loading
          p.text-loading.half
          //| You can do a whole bunch of other stuff with animate.css
          //| when you combine it with jQuery or add your own CSS rules.
          //| Dynamically add animations using jQuery with ease:
          //| You can do a whole bunch of other stuff with animate.css
          //| when you combine it with jQuery or add your own CSS rules.
          //| Dynamically add animations using jQuery with ease:
        p.text-loading.btn
        //p.btn-blue LEARN MORE
