.container.guide-container
  .guide-img#guide-img
    .row
      .col-xs-4.img.animated.img-loading
        .img-holder
        //img(src='')
      .col-xs-4.img.animated.img-loading
        .img-holder
        //img(src='')
      .col-xs-4.img.animated.img-loading
        .img-holder
        //img(src='')
