.container.newest-products
  .row
    .col-xs-12
      .title
        span.title-line
        | Newest Products
  .productList.row#productList
    .list-loading.col-md-3.col-sm-4.col-xs-6
      .img-container
      .p-title
    .list-loading.col-md-3.col-sm-4.col-xs-6
      .img-container
      .p-title
    .list-loading.col-md-3.col-sm-4.col-xs-6.visible-lg.visible-md.visible-sm
      .img-container
      .p-title
    .list-loading.col-md-3.col-sm-4.col-xs-6.visible-lg.visible-md
      .img-container
      .p-title
  .showMore-products
    button.btn-blue-trans.show-all VIEW ALL PRODUCT
  //i.glyphicon-top.backTop

a.glyphicon-top.backTop.hidden-xs(href='javascript:;')
