extends ../layout
block css
  link(rel="stylesheet" href="/thirtyPart/bootstrap/bootstrap.min.css")
  link(rel='stylesheet' href="/plugins/animate.css/animate.min.css")
  link(rel='stylesheet', href='/theme#{them}/css/home/index.css?v=#{version}')
block content
  include ../components/header
  include ./indexTemplate/carousel
  include ./indexTemplate/advert
  include ./indexTemplate/aboutUs
  include ./indexTemplate/products
  include ../components/footer
append scripts
  script(src="/plugins/jquery/dist/jquery.min.js")
  script(src='/thirtyPart/jquery.pin.js')
  script(src='/plugins/bootstrap/dist/js/bootstrap.min.js')
  script(src='/theme#{them}/js/home.js?v=#{version}')