extends ./userLayout
block css
  link(rel="stylesheet", href="/thirtyPart/bootstrap/bootstrap.min.css")
  link(rel="stylesheet", href="/plugins/animate.css/animate.min.css")
  link(rel='stylesheet', href='/common/css/login/login.css')
block content
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12
        .text-container 
          .success-title-no-margin Privacy policy
          .close &times;
          .line
          .p Onloon.cn respects your privacy and secures your online safety seriously ,In order to  provide you with the best products, efficient customer service, and fast updates, we record a variety of information from your visit to our site. To better protect your privacy, we’d like to explain our online information practices and the way your information is collected and used.
            .p Onloon Privacy Policy
            .p Onloon.cn respects your privacy and secures your online safety seriously ,In order to  provide you with the best products, efficient customer service, and fast updates, we record a variety of information from your visit to our site. To better protect your privacy, we’d like to explain our online information practices and the way your information is collected and used.
            .p Onloon Privacy Policy
            .p Onloon.cn respects your privacy and secures your online safety seriously ,In order to  provide you with the best products, efficient customer service, and fast updates, we record a variety of information from your visit to our site. To better protect your privacy, we’d like to explain our online information practices and the way your information is collected and used.
            .p Onloon Privacy Policy
            .p Onloon.cn respects your privacy and secures your online safety seriously ,In order to  provide you with the best products, efficient customer service, and fast updates, we record a variety of information from your visit to our site. To better protect your privacy, we’d like to explain our online information practices and the way your information is collected and used.
            .p Onloon Privacy PolicyOnloon Privacy PolicyOnloon Privacy PolicyOnloon Privacy PolicyOnloon Privacy
            .p Thank you for accessing the website of longxi Information Technology Co., Ltd ,(http://www.Onloon.net/). We respect your , use, and disclosure of your personal
append scripts
  script(src="/plugins/jquery/dist/jquery.min.js")
  script(src='/thirtyPart/security.js')
  script(src='/common/js/user.js')
  script.
    $('.close').on('click', (e) => {
      window.close()
    })
    